{% extends "style.html" %} {% block head %} {{ super() }}

<section id="capa">
  <img
    src="{{url_for('static', filename='552dcb3970de9591ee05_940x400_0_0_1_1.jpg')}}"
    alt=""
  />

  <div id="espaco">
    <p>
      Sistema para a abertura de chamados para manutenção dos micros presentes
      no laboratório da FATEC-São José Dos Campos <br />

      <span class="span"> Abra um chamado para notificar o time de manutenção. </span
      ><br /><br />
      <a href="{{url_for('select')}}">
        <button class="button" href="./select.html">Abrir Chamado</button>
      </a>
      <a href="{{url_for('login')}}">
        <button class="button" href="./login.html">Painel Administrador</button>
      </a>
    </p>
  </div>
</section>

<footer>
  <img
    src="{{url_for('static', filename='logo-branco.png')}}"
    alt=""
  />
  <p class="copyright">&copy; Copyright MIG - 2022</p>
  
</footer>

{% endblock %}
