{% extends "style.html" %} {% block head %} {{ super() }}

<!-- Div responsável por apresentar todos os chamados abertos no sistema -->

<div id="tabela">
  <div>
    <table class="tabelas">
      <thead>
        <h1 style="text-align: center; margin-bottom: 15px">Chamados Ativos</h1>
        <tr>
          <th>N° Laboratório</th>
          <th>N° Micro</th>
          <th>Reportado</th>
        </tr>
        {% for i in range(0, (chamado|length) ,1) %}
        <tr>
          <td>{{ chamado[i][0]}}</td>
          <td>{{ chamado[i][1]}}</td>
          <td>{{ chamado[i][2]}}</td>
        </tr>
        {%endfor%}
      </thead>
    </table>
  </div>
</div>

<section id="buttons">
  <a href="{{url_for('admin')}}">
    <button class="button" href="admin.html">Voltar</button>
  </a>
</section>

{% endblock %}
