{% extends "style.html" %}

{% block head %}

  {{ super() }}

    
  <!-- Div responsável por apresentar ao usuário qual foi o Laboratório escolhido -->

<div class="text-center">  
  <h3 >Laboratório escolhido: {{laboratorio[12:15]}}</h3>
</div>

  <!-- Div responsável por apresentar ao usuário o LAYOUT do laboratório escolhido -->
  <div id="layout">
      <section id="layout-image">
        {% if (laboratorio[12] == '4' and laboratorio[13:15] != '01' and laboratorio[13:15] != '02') %}
        <img id="layout-lab"
        src="{{url_for('static', filename='412'+'.png' )}}"
        alt=""/> 
        {%  else %}
        <img id="layout-lab"
        src="{{url_for('static', filename=''+ laboratorio[12:15]+'.png' )}}"
        alt=""/> 
        {% endif %}
      </section>

  <!-- Formulário responsável por receber dados do usuário refente a abertura do chamado -->

      <section id="formulario_final">
        <form method="post">
            <label for="nome">Nome Completo:
            <input type="text" name="nome" required>
            </label>
    
            <label for="email">E-mail:
            <input type="email" name="e-mail" required>
            </label>
    
            <label for="completed"> N° do laboratório
            <input type="text" value='{{laboratorio}}' name="completed" disabled>
            </label>
    
            <label for="micro">N° do computador
                <input type="text" name="micro" maxlength="2" >
            </label>
    
            <label for="problem">O que está acontecendo? <br>
                <textarea name="problem" id="" cols="30" rows="2" required></textarea>
    
            </label>
            <input type="submit" value="Abrir Chamado" class="btn">
        </form>
      </div>
      </section>
  <br>
    <section id="buttons">
      <a href="{{url_for('select')}}">
        <button class="btn" href="./select.html">Voltar</button>
      </a>
    </section> 

         
        </table>
      </div>

  {% endblock %}
