{% extends "style.html" %} {% block head %} {{ super() }}
    <form id="formlogin" action="" method="post">
        <br><br>
        <div id="containers">
          <div id="boxlogin"><br>
          <h3 id="h3login">LOGIN</h3><br>
          <input class="inputlogin" type="text" placeholder="login" name="login" value="{{
          request.form.login }}"><br><br>
          <input class="inputlogin"  type="password" placeholder="senha" name="senha" value="{{
          request.form.senha}}"><br><br><br>
        <input class="button" type="submit" value="Login">
        </div>
          </div>
    </form>
      {% if error %}
        <p class="error"><strong>Erro:</strong> {{ error }}
      {% endif %}
{% endblock %}
