{% extends "style.html" %} {% block head %} {{ super() }} {% block content %}

<!-- Formulário Com tag SELECT  -->

<form id="select_form" method="post">
  <section id="labs">
    <img
      id="labs_img"
      src="{{url_for('static', filename='labs.jpg')}}"
      alt=""
      srcset=""
    />

    <!-- Opções de laboratórios para a seleção do usuário -->
    <div>
      <label for="laboratorios">Escolha um laboratório</label>
      <select name="laboratorios" id="laboratorios" onchange="novo_lab()">
        <optgroup label="3° Andar">
          <option value="Laboratório 301">Laboratório 301</option>
          <option value="Laboratório 302">Laboratório 302</option>
          <option value="Laboratório 303">Laboratório 303</option>
        </optgroup>
        <optgroup label="4° Andar">
          <option value="Laboratório 401">Laboratório 401</option>
          <option value="Laboratório 402">Laboratório 402</option>
          <option value="Laboratório 404">Laboratório 404</option>
          <option value="Laboratório 405">Laboratório 405</option>
          <option value="Laboratório 406">Laboratório 406</option>
          <option value="Laboratório 407">Laboratório 407</option>
          <option value="Laboratório 408">Laboratório 408</option>
          <option value="Laboratório 409">Laboratório 409</option>
          <option value="Laboratório 411">Laboratório 411</option>
          <option value="Laboratório 412">Laboratório 412</option>
        </optgroup>
      </select>
      <br /><br />
      <br />
      <input type="submit" value="Selecionar Laboratório" class="button" />
    </div>
  </section>
</form>

<div id="layout">
  <section id="layout-image">
    {% for imagem in layout %} {% if ( laboratorio in imagem)%}
    <img
      id="layout-lab"
      src="{{url_for('static', filename=imagem[1]+'.png' )}}"
      alt=""
    />

    {% endif %} {% endfor %}
  </section>

  {% endblock %} {% endblock %}
</div>
