
<!--  Página HTML com estilo padrão para todas as outras páginas -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Home</title>
  </head>
  <body>
    {% block head %}
    <div id="app">
      <header>
        <a href="{{url_for('home')}}">
        <img
          src="{{url_for('static', filename='index.png')}}"
          alt="fatec-logo"
          id="logo"
        /></a>
        <h1>Sistema para abetura de chamados FATEC - São José dos Campos</h1>
      </header>
      {% endblock %}

  </body>
</html>
